/*
* @Author: Administrator
* @Date:   2017-10-02 11:34:38
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-06 12:39:51
*/
.iconfont {
    font-family:"iconfont" !important;
    font-size:17px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';  /* project id 401517 */
  src: url('https://at.alicdn.com/t/font_401517_o7wkvhi6z6758kt9.eot');
  src: url('https://at.alicdn.com/t/font_401517_o7wkvhi6z6758kt9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_401517_o7wkvhi6z6758kt9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_401517_o7wkvhi6z6758kt9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_401517_o7wkvhi6z6758kt9.svg#iconfont') format('svg');
}
.toubu{
	width: 1349px;
	height: 25px;
	background-color: #f5f5f5;
	border-bottom: 1px #d0d0d0 solid;
}
.toubu1{
	width: 1200px;
	height: 25px;
	/* background-color: yellow; */
	margin: 0 auto;
	
}
.toubu1-1{
	width: 63px;
	height: 25px;
	/* background-color: red; */
	border-right: 1px #d0d0d0 solid;
	float: left;
	text-align: center;
}
.toubu1-1 a{
	font-size: 14px;
}
.toubu1-2{
	width: 63px;
	height: 25px;
	/* background-color: red; */
	border-right: 1px #d0d0d0 solid;
	float: left;
	text-align: center;
}
.toubu1-2 a{
	font-size: 14px;
	color:#8b8b8b;
}
.toubu1-3{
	width: 63px;
	height: 25px;
	/* background-color: red; */
	border-left: 1px #d0d0d0 solid;
	float: right;
	text-align: center;
}
.toubu1-3 a{
	font-size: 14px;
	color:#8b8b8b;
}
.toubu1-4{
	width: 90px;
	height: 25px;
	/* background-color: red; */
	border-left: 1px #d0d0d0 solid;
	float: right;
	text-align: center;
}
.toubu1-4 a{
	font-size: 14px;
	color:#8b8b8b;
}
.toubu1-5{
	width: 63px;
	height: 25px;
	/* background-color: red; */
	border-left: 1px #d0d0d0 solid;
	float: right;
	text-align: center;
}
.toubu1-5 a{
	font-size: 14px;
	color:#8b8b8b;
}
.toubu1-6{
	width: 160px;
	height: 25px;
	/* background-color: red; */
	border-left: 1px #d0d0d0 solid;
	float: right;
}
.toubu1-6 a{
	font-size: 14px;
	color:#8b8b8b;
}
.toubu1-0{
	width: 36px;
	height: 25px;
	/* background-color: #000; */
	float: right;
	font-size: 20px;
}
.toubu1-7{
	width: 63px;
	height: 25px;
	/* background-color: red; */
	border-left: 1px #d0d0d0 solid;
	float: right;
	text-align: center;
}
.toubu1-7 a{
	font-size: 14px;
	color:#8b8b8b;
}
.toubu2{
	width: 1200px;
	height: 92px;
	/* background-color: #d0d0d0; */
	margin: 0 auto;
}
.toubu2-1{
	width: 575px;
	height: 52px;
	/* background-color: green; */
	margin-top: 20px;
	float: left;
}
.toubu2-2{
	width: 230px;
	height: 42px;
	/* background-color: red; */
	margin-top: 5px;
	float: left;
}
.toubu2-3{
	width: 58px;
	height: 26px;
	float: left;
	/* background-color: red; */
	margin-top: 13px;
	margin-left: 15px;
}
.toubu2-3 h1{
	font-size: 16px;
	float: left;
}
.toubu3{
	width: 530px;
	height: 36px;
	/* background-color: red; */
	float: left;
	margin-top: 20px;
	border-top: 1px #d0d0d0 solid;
	border-bottom: 1px #d0d0d0 solid;
	border-left: 1px #d0d0d0 solid;
	border-right: 1px #d0d0d0 solid;
}
.neikuang{
	width: 443px;
	height: 34px;
	float: left;
	font-size: 16px;
}
.toubu3-1{
	width: 85px;
	height: 36px;
	background-color: blue;
	float: right;
	color: #fff;
}
.toubu3-1 h1{
	font-size: 20px;
	float: left;
	line-height: 36px;
}
.iconfont1 {
    font-family:"iconfont" !important;
    font-size:25px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-top: 6px;
}
.toubu4{
	width: 530px;
	height: 26px;
	/* background-color: red; */
	float: left;
}
.toubu4-1{
	width: 63px;
	height: 16px;
	/* background-color: #d0d0d0; */
	float: left;
	margin-top: 6px;
}
.toubu4-1 a{
	font-size: 12px;
}
.toubu5{
	width: 1200px;
	height: 40px;
	/* background-color: red; */
	margin: 0 auto;
	position: relative;
}
.toubu5-1{
	width: 159px;
	height: 40px;
	background-color: #e2e2e2;
	border-top: 2px blue solid;
	border-left: 1px #d0d0d0 solid;
	float: left;
	text-align: center;
}
.toubu5-2:hover .toubu5-box{
	display: block;
}
.toubu5-2:hover .toubu5-box{
	display: block;
}

.toubu5-1 a{
	font-size: 20px;
	line-height: 40px;
}
.toubu5-box {
	width: 1200px;
	height: 40px;
	/*background-color: red;*/
	position: absolute;
	top:40px;
	left:0px;
	display: none;
	z-index: 999;
}
.toubu5-box li{
	width:171.4px;
	height: 40px;
	background-color: #fff;
	float:left;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color:#000;
 }
.toubu5-2{
	width: 260px;
	height: 40px;
	background-color: #e2e2e2;
	border-left: 1px #f2f2f2 solid;
	float: left;
	text-align: center;
}
.toubu5-2 a{
	font-size: 20px;
	line-height: 40px;
}
.toubu5-1:hover{
	background-color: #f3f3f3;
	color: #d0d0d0;
}
.toubu5-2:hover{
	background-color: #f3f3f3;
	color: #d0d0d0;
}
#liebiao a{
	display: block;
	width: 259px;
	height: 40px;
	background-color: #e4e4e4;
	color: #666666;
	margin-right: 1px;
	float: left;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}
#liebiao a:nth-child(1){
	font-weight: bold;
	border-top: 2px #0085d0 solid;
	color: #0085d0;
	width: 159px;
	height: 40px;
}
#liebiao a:nth-child(5){
	margin-right: 0;
}
#liebiao a:hover{
	background-color: rgba(228, 228, 228, 0.6);
	color: #0085d0;
}
#banner{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
	margin-top: 5px;
}
.shouye-list{
	width: 159px;
	height: 350px;
	padding: 8px 10px 10px 10px;
	border: 1px #b8d9e9 solid;
	margin-right: 10px; 
	float: left;
}

.shouye-list a:nth-child(1){
	display: block;
	width: 100%;
	height: 25.6px;
	padding-bottom:3px;
	font-size: 12px;
	color: #333;
	line-height: 20.6px;
	text-align: center; 
}
.shouye-list a:nth-child(1):hover{
	color: #0085d0;
}
.banner-img{
	width: 740px;
	height: 100%;
	float: left;
	position: relative;
	/*overflow: hidden;*/
}
.banner-img .prev{
	width: 30px;
	height: 70px;
	background-color: rgba(182, 182, 182, 0.7);
	position: absolute;
	left: 0;
	top: 140px;
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	color: white;
	z-index: 999;
	cursor: pointer;
}
.banner-img .prev:hover{
	background-color: rgba(182, 182, 182, 1.0);
}
.banner-img .next{
	width: 30px;
	height: 70px;
	background-color: rgba(182, 182, 182, 0.7);
	position: absolute;
	right: 0;
	top: 140px;
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	color: white;
	z-index: 999;
	cursor: pointer;
}
.banner-img .next:hover{
	background-color: rgba(182, 182, 182, 1.0);
}
.lunbodian{
	width: 210px;
	height: 21.6px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;

}
.top7{
	width:740px;
	height:350px;
	background-color: #b0b0b0;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}
.top5{
	width:100%;
	height:100%;
	position: relative;
}
.top7 ul li{
	width:100%;
	height:100%;
	position: absolute;
	top:0;left:0;
}
.top7 ul li:first-child{
	z-index: 2;
}
.top7 img{
	width:100%;
	height: 100%;
}
.dian{
	width:20px;
	height: 20px;
	background-color: #ccc;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
}
.active{
	background-color: red;
}
@keyframes left-chu {
	0%{
		left:0;
	}
	100%{
		left:-740px;
	}
}
.left-chu{
	animation:left-chu 2s linear forwards;
}
@keyframes right-jin {
	0%{
		left:740px;
	}
	100%{
		left: 0;
	}
}
.right-jin{
	animation:right-jin 2s linear forwards;
}
@keyframes left-jin {
	0%{
		left:-740px;
	}
	100%{
		left:0;
	}
}
.left-jin{
	animation:left-jin 2s linear forwards;
}
@keyframes right-chu {
	0%{
		left:0;
	}
	100%{
		left: 740px;
	}
}
.right-chu{
	animation:right-chu 2s linear forwards;
}
.shouye-list1{
	width: 100%;
	height: 44px;
	border-top: 1px #e9e9e9 solid;
	position: relative;
}
.shouye-list-img{
	width: 56px;
	height: 32px;
	padding: 11px 10px 0 25px;
	/* float: left; */
}
.shouye-list1 a{
	font-size: 15px;
	line-height: 44px;
	color: #333;
	position: absolute;
	left: 56px;
	top: 0;
}
.shouye-list1 a:hover{
	color: #0085d0;
}
#liebiao-you{
	width: 278px;
	height: 349px;
	border: 1px solid #dfdfdf;
	float: right;
}
.liebiao-shang{
	width: 276px;
	height: 156px;
	/* background-color: yellow; */
	margin-top: 5px;
	margin-bottom: 10px;
}
.liebiao-box{
	width: 92px;
	height: 78px;
	padding: 0 6px;
	float: left;
}
.liebiao-img{
	width: 100%;
	height: 55px;
	/* background-color: orange; */
	background-image: url('../img/1.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.liebiao-img1{
	width: 100%;
	height: 55px;
	/* background-color: orange; */
	background-image: url('../img/x.png');
	background-repeat: no-repeat;
	background-position: center;
}
.liebiao-img2{
	width: 100%;
	height: 55px;
	/* background-color: orange; */
	background-image: url('../img/b.png');
	background-repeat: no-repeat;
	background-position: center;
}
.liebiao-img3{
	width: 100%;
	height: 55px;
	/* background-color: orange; */
	background-image: url('../img/v.png');
	background-repeat: no-repeat;
	background-position: center;
}
.liebiao-img4{
	width: 100%;
	height: 55px;
	/* background-color: orange; */
	background-image: url('../img/c.png');
	background-repeat: no-repeat;
	background-position: center;
}
.liebiao-img5{
	width: 100%;
	height: 55px;
	/* background-color: orange; */
	background-image: url('../img/WiFi.png');
	background-repeat: no-repeat;
	background-position: center;
}
.liebiao-wenzi{
	width: 100%;
	height: 22px;
	/* background-color: red; */
	position: relative;
}
.liebiao-wenzi a{
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	color: #4e4e4e;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.liebiao-img:hover{
	transform: scale(1.2,1.2);
}
.liebiao-xia{
	width: 279px;
	height: 185px;
	padding: 20px 10px 10px 10px;
}
.chongzhi{
	width: 259px;
	height: 20px;
	padding: 0 15px;
}
.chongzhi a{
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	float: left;
}
.chongzhi a:hover{
	text-decoration: underline;
}
.chongzhi span{
	font-size: 12px;
	line-height: 20px;
	color: red;
	float: right;
}
.int{
	width: 233px;
	height: 34px;
	padding: 3px 5px;
	border: 1px solid #dadada;
	border-radius: 3px;
	margin-left: 12px;
	margin-top: 8px;
}
.int input{
	width: 100%;
	height: 100%;
}
.jiage{
	width: 259px;
	height: 56px;
	padding: 10px 12px;
}
.jiage a{
	display: block;
	width: 43px;
	height: 100%;
	border-radius: 3px;
	border: 1px solid #dadada;
	margin: 0 2px;
	float: left;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	color: #666;
}
.jiage a:nth-child(2){
	background-color: #e40077;
	border: 1px solid #e40077;
	color: white;
}
.jiage a:hover{
	background-color: #e40077;
	border: 1px solid #e40077;
	color: white;
}
.liji{
	width: 175px;
	height: 35px;
	padding-left: 85px;
}
.liji a{
	display: block;
	width: 90px;
	height: 35px;
	border-radius: 3px;
	background-color: #33acfb;
	font-size: 12px;
	color: #fff;
	line-height: 35px;
	text-align: center;
}
.neirong{
	width: 1200px;
	height: 180px;
	background-color: #d0d0d0;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
}
.neirong1.kuang{
	width:1170px;
	height:160px;
	background-color: #666666;
	margin: 10px 15px;
	float:left;
	overflow: hidden;
}
.neirong1 .neirong-top{
	width:5000px;
	height:160px;
	/*background-color: #007bc7;*/
	/*display: inline;*/
}
.left{
	width:30px;
	height:40px;
	background-color: #333;
	position: absolute;
	top:75px;
	left:0;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.right{
	width:30px;
	height:40px;
	background-color: #333;
	position: absolute;
	top:75px;
	right:0;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.neirong1.neirongqu{
	margin-right: 0;
}
.right:hover{
	colcr:#ccc;
	cursor: pointer;
}
.left:hover{
	colcr:#ccc;
	cursor: pointer;
}
.neirong1{
	width: 285px;
	height: 160px;
	background-color: #fff;
	margin-right: 10px;
	float: left;
}
.neirong1-1{
	width: 250px;
	height: 30px;
	/* background-color: #fff; */
	float: right;
	font-size: 18px;
}
.neirong1-2{
	width: 250px;
	height: 20px;
	/* background-color: #fff; */
	float: right;
	font-size: 14px;
}
.neirong1-3{
	width: 243px;
	height: 110px;
	/* background-color: #b0b0b0; */
	float: right;
}
.neirong2{
	width: 1199px;
	height: 409px;
	/* background-color: #d0d0d0; */
	margin: 0 auto;
	margin-top: 5px;
	border-top: 1px #d0d0d0 solid;
	border-bottom: 1px #d0d0d0 solid;
	border-left: 1px #d0d0d0 solid;
	border-right: 1px #d0d0d0 solid;
}
.neirong2-1{
	width: 1100px;
	height: 48px;
	/* background-color: yellow; */
	margin: 0 auto;
	border-bottom: 1px #d0d0d0 solid;
}
.neirong2-1 h1{
	width: 50px;
	height: 48px;
	/* background-color: red; */
	font-size: 16px;
	line-height: 48px;
	float: left;
}
.neirong2-1 a{
	display: block;
	width: 80px;
	height: 48px;
	/* background-color: red; */
	font-size: 16px;
	line-height: 48px;
	float: right;
}
.neirong3{
	width: 300px;
	height: 360px;
	/* background-color: red; */
	float: left;

}
.neirong3-1{
	width: 299px;
	height: 180px;
	/* background-color: #fff; */
	float: left;
	border-right: 1px #d0d0d0 solid;
	border-bottom: 1px #d0d0d0 solid;
}

.neirong3-2{
	width: 289px;
	height: 30px;
	/* background-color: #fff; */
	float: right;
	font-size: 18px;
}
.neirong3-3{
	width: 289px;
	height: 20px;
	/* background-color: #fff; */
	float: right;
	font-size: 14px;
}
.neirong3-4{
	width: 253px;
	height: 129px;
	/* background-color: #b0b0b0; */
	float: right;
}
.neirong3-4{
	width: 220px;
	height: 120px;
	float: right;
	/* background-color: black; */
	margin-top: 8px;
	transition: .5s all ease;
}
.neirong3-4:hover{
	margin-right: 8px;
}
.neirong4{
	width: 1200px;
	height: 409px;
	/* background-color: #d0d0d0; */
	margin: 0 auto;
	margin-top: 5px;
	border-top: 1px #d0d0d0 solid;
	border-bottom: 1px #d0d0d0 solid;
	border-left: 1px #d0d0d0 solid;
	border-right: 1px #d0d0d0 solid;
}
.neirong4-1{
	width: 1100px;
	height: 48px;
	/* background-color: yellow; */
	border-bottom: 1px #d0d0d0 solid;
	margin: 0 auto;
}
.neirong4-1 h1{
	width: 50px;
	height: 48px;
	/* background-color: red; */
	font-size: 16px;
	line-height: 48px;
	float: left;
}
.neirong4-1 a{
	display: block;
	width: 80px;
	height: 48px;
	/* background-color: red; */
	font-size: 16px;
	line-height: 48px;
	float: right;
}
.neirong4-2{
	width: 299px;
	height: 359px;
	/* background-color: red; */
	float: left;
}
.neirong4-2 h1{
	width: 289px;
	height: 20px;
	/* background-color: yellow; */
	float: right;
	font-size: 16px;
	margin-top: 20px;
}
.neirong4-2 h2{
	width: 289px;
	height: 20px;
	/* background-color: yellow; */
	float: right;
	font-size: 16px;
	margin-top: 3px;
}
.neirong4-2 h3{
	width: 289px;
	height: 38px;
	/* background-color: yellow; */
	float: right;
	font-size: 20px;
	margin-top: 3px;
}
.neirong4-3{
	width: 220px;
	height: 255px;
	/* background-color: #d0d0d0; */
	
}
.neirong4-3{
	width: 220px;
	height: 247px;
	float: right;
	/* background-color: black; */
	margin-top: 8px;
	transition: .5s all ease;
	float: right;
}
.neirong4-3:hover{
	margin-right: 8px;
}
/* 公告开始 */
.ggneikuan{
	width: 1200px;
	height: 38px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px #ccc solid;
	padding: 0 15px;

}
.gg-left{
	float: left;
}
.gg-left i{
	font-size: 16px;
	line-height: 38px;
}
.gg-left1{
	font-size: 14px;
	color: #000;
	font-family: '苹方';
	line-height: 38px;
}
.gg-zhong{
	font-size: 14px;
	color: #999;
	font-family: '苹方';
	line-height: 42px;
}
.gg-zhong a{
	font-size: 14px;
	color: #0085d0;
	font-family: '苹方';
	line-height:42px;
}
.gg-zhong1{
	margin-left: 140px;
}
.gg-zhong2{
	margin-left: 30px;
}
.fangxiang{
	float: right;
}
.fangxiang a{
	float: left;
	font-size: 14px;
	color: #000;
	font-family: '苹方';
	line-height:42px;
	margin-left: 10px;
}
/* 公告结束 */
/* 国资动态开始 */
.gzneikuan{
	width: 1200px;
	height: 108px;
	border: 1px #ccc solid;
	margin: 0 auto;
	margin-top: 10px;
}
.guozi-top{
	padding: 0 20px;
	overflow: hidden;
}
.guozi-top img{
	float: left;
	width: 97px;
	height: 34px;
	margin-top: 10px;
}
.gztop-right{
	float: right;
	margin-top: 20px;
	font-size: 14px;
	color: #000;
	font-family: '苹方';
}
.guozi-bottom{
	padding: 0 60px;
	height: 48px;
	margin-top: 10px;
}
.guozi-bottom li{
	float: left;
	width: 539px;
	height: 24px;
}
.gzb-zi{
	margin-top: 20px;
	font-size: 14px;
	color: #000;
	font-family: '苹方';
}
.gzb-zi1{
	float: right;
	margin-right: 30px;
	font-size: 14px;
	color: #999;
	font-family: '苹方';
}
/* 国资动态结束 */
.ddhneikuan{
	height: 227px;
	width: 1200px;
	margin: 0 auto;
	border: 1px #ccc solid;
	padding: 20px 0 20px 35px;
	overflow: hidden;
	margin-top: 10px;
}
.ddh-zi{
	width: 232px;
	height: 185px;
	float: left;
}
.ddh-zi1{
	font-size: 18px;
	color: #000;
	font-family: '苹方';
	line-height: 32px;
}
.ddh-zi2{
	display: block;
	font-size: 16px;
	color: #666;
	font-family: '苹方';
	line-height: 26px;
}
.ddh-zi a:hover{
	color: #007bc7;
}
footer{
	padding: 30px 0;
}
.di1{
	height: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 12px;
	font-family: '苹方';
	line-height: 32px;
	color: #666;
}
.di1-zi{
	color: #666;
	padding: 0 5px;
}
.di1 .zi1{
	color: #666;
}
.di2{
	margin-top: 10px;
	height: 57px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.di2-1{
	width: 128px;
	height: 47px;
}
.di2-zi{
	margin-left: 20px;
	font-size: 12px;
	font-family: '苹方';
	line-height: 47px;
	color: #666;
}